.global-loader {
  height: 100vh;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.loader-house {
  width: 80px;
  height: 80px;
  animation: bounce 0.6s infinite alternate ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-22px);
  }
}

.global-loader p {
  color: #007bff;
  font-size: 15px;
  font-weight: 600;
}